.main-contacto{
    height: 100vh;
    @include grid(10 rem repeat(2, 1fr) 10rem, 10rem repeat(2, 1fr) 10rem, ".    .   .   ." ".   contacto    contacto    ." ".   contacto    contacto    ." ".   .   .   .   ");
    .container-form{
        @include grid-objets(contacto);
        align-content: center;
        .form{
            width: 90rem;
            height: 50rem;
            background-color: rgba(117, 117, 117, 0.35);
            backdrop-filter: blur(7.5rem);
            -webkit-backdrop-filter: blur(7.5rem);
            border-radius: 2.5rem;
            .fieldset{
                width: 100%;
                height: 100%;
                border: 0;
                @include grid-form;
                h3{
                    font-size: 3rem;
                    font-weight: 300;
                }
                label{
                    font-size: 2rem;
                    font-weight: 300;
                }
                input{
                    background-color: #D9D9D9;
                    border-width: 0rem;
                    color: #363636;
                    border-radius: .25rem;
                    width: 36.4rem;
                    height: 3.5rem;
                    outline: none;
                    font-weight: 300;
                    &::placeholder{
                        color: #8D8D8D;
                    }
                }
                textarea{
                    @extend input;
                    resize: none;
                    width: 76.4rem;
                    height: 15rem;
                }
                input[type="submit"]{
                    width: 6rem;
                    height: 2rem;
                }
            }
        }
    }
    h3{
        @include grid-objets (contactanos);
        align-items: center;
    }
    .nombre{
        @include grid-objets (nombre);
        gap: 1rem;
    }
    .apellido{
        @extend .nombre;
        @include grid-objets (apellido);
    }
    .celular{
        @extend .nombre;
        @include grid-objets (celular);
    }
    .e-mail{
        @extend .nombre;
        @include grid-objets (email);
    }
    .mensaje{
        @extend .nombre;
        @include grid-objets (mensaje);
    }
    .button-form{
        @include grid-objets (enviar);
        align-items: center;
    }
}