/* propiedades de "visitanos" */
.main-visitanos{
    height: 100vh;
    @include grid(12rem repeat(3, 1fr), repeat(4, 1fr), ".          .           .           ." ".  visit     .       ."  ".  iframe   texto    texto" ".      .     .         .");
    .titulo-visitanos{
        @include grid-objets(visit);
        align-items: center;
    }
    .iframe {
        @include grid-objets(iframe);
        iframe{
            border-radius: 2.5rem;
        }
    }
    .info-visitanos{
        @include grid-objets(texto);
        align-content: center;
        gap: 3rem;
    }
}
