@media (max-width: 320px){
    .body-inicio{
        height: 100vh;
        background-position-y: 0rem;
        background-position-x: -12rem;
    }
    .body-nosotros{
        height: 100vh;
        background-position-y: 0rem;
        background-position-x: -13rem;
    }
    .body-tienda{
        height: 100%;
        position: relative;
        background-position-y: 0rem;
        background-position-x: 0rem;
        background-size: cover;
    }
    header{
        .nav.active{
            height: 94.2vh;
        }
        .nav{
            .ul{
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                padding: 6rem 0rem 0rem .5rem;
                gap: 5rem;
                li{
                    a{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    .contenido1{
        background-position-y: 0;
        background-position-x: -12rem;
    }
    .contenido2{
        background-position-y: 0rem;
        background-position-x: -19rem;
    }
    .contenido3{
        background-position-y: 0;
        background-position-x: -4rem;
    }
    .contenido4{
        background-position-y: 0;
        background-position-x: -12rem;
    }
    .main-visitanos{
        .iframe{
            iframe{
                width: 26rem;
                height: 29rem;
            }
        }
    }
    .main-contacto{
        .container-form{
            .form{
            width: 30rem;
            height: 70rem;
            .fieldset{
                h3{
                    font-size: 2.3rem;
                    font-weight: 300;
                }
                label{
                    font-size: 1.6rem;
                    font-weight: 300;
                }
                input{
                    width: 27rem;
                    height: 3rem;
                    font-weight: 300;
                }
                textarea{
                    width: 27rem;
                    height: 15rem;
                }
            }
            }
        }
    }
}